
.sidebar {
  width: 100px;
  padding: 5px 0;
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__folding {
    width: 40px;
  }
  &-setting__item {
    margin: 5px 0;
    text-align: center;
    cursor: pointer;
  }
}

.directory-item {
  color: #fff;
}

