.movie-card {
  display: flex;
  margin: 5px;
  background: #fff;
  border: 1px solid #e6e6e6;
  flex: 1 0 180px;
  max-width: 180px;
  flex-direction: column;
  &__info {
    padding: 8px;
    text-align: center;
    &-item {
      font-size: 13px;
      display: flex;
    }
    &-head {
      width: 34px;
      flex: 0 0 auto;
    }
  }
  &__title {
    font-size: 13px;
    &-link {
      color: #37a;
      text-decoration: none;
    }
  }
  &__poster {
    //flex: 1 0 32%;
    font-size: 0;
    //@media screen and (max-width: 750px) {
    //  flex: 1 0 23%;
    //}
    &-img {
      width: 180px;
      height: 270px;
    }
  }
}