.movie-card {
  display: flex;
  padding: 12px;
  background: #fff;
  border: 1px solid #e6e6e6;
  &__info {
    padding-left: 16px;
    &-text {
      font-size: 16px;

    }
  }
  &__title {
    font-size: 22px;
  }
  &__poster {
    max-width: 120px;
    min-width: 120px;
    font-size: 0;
    &-img {
      width: 100%;
    }
  }
}