.history-toolbar {
  display: flex;
  align-items: center;
  &__item {
    width:24px;
    height: 24px;
    margin-right:10px;
    font-stretch: expanded;
    font-size:0;
    cursor: pointer;
    border: 1px solid #a2a2a2;
    border-radius: 2px;
  }
}
