.movie-card {
  width: 24%;
  padding: 4px;
  display: inline-flex;
  margin-bottom: 4px;
  &__info {
    &-item {
      font-size: 13px;
      display: flex;
    }
    &-head {
      width: 34px;
      flex: 0 0 auto;
    }
  }
  &__title {
    font-size: 13px;
    &-link {
      color: #37a;
      text-decoration: none;
    }
  }
  &__poster {
    font-size: 0;
    &-img {
      width: 180px;
      height: 270px;
    }
  }
}
.movie-item--list{
  width: 100%;

}

