.movie-card {
  width: 180px;
  padding: 4px;
  display: inline-block;
  margin-bottom: 4px;
  a {
    text-decoration: none;
    &:hover {
      color: #222;
    }
  }
  &__info {
    padding: 8px 10px 8px;
  }
  &__title {
    font-size: 1.4rem;
    .text-overflow();
    &-link {
      color: #37a;
      text-decoration: none;
    }
  }
  &__poster {
    font-size: 0;
    &-images {
      width: 180px;
      height: 245px;
    }
  }
}
.movie-item--list{
  width: 100%;

}

