html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #EDF1F6;
  font-family: 'Helvetica Neue', Tahoma, Arial, 'Microsoft Yahei', '\5B8B\4F53', '\9ED1\4F53', sans-serif;
  line-height: 1.5;
}
.main {
  margin-left: 40px;
}
