.sidebar {
  max-width: 220px;
  display: flex;
  flex: 1 0 220px;
  background: #333;
  color: #fff;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-between;
  &-setting__item {
    text-align: center;
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #4c4c4c;
    .material-icons {
      font-size: 18px;
      margin-right: 6px;
    }
  }
  &-header {
    height: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-size: 14px;
  }
  &-body {
    border-top: 1px solid #4c4c4c;
    border-bottom: 1px solid #4c4c4c;
    flex: 1 0 auto;
  }
  &-footer {
    height: 40px;
    box-sizing: border-box;
  }
}

.side-menu {
  &__title {
    padding: 14px 16px 6px;
    font-size: 20px;
    color: #8c8c8c;
  }
  &__item {
    height: 34px;
    display: flex;
    align-items: center;
    padding-left: 14px;
    color: #fff;
    text-decoration: none;
    &:hover {
      background: lighten(#000, 30%);
    }
    &--active {
      background: lighten(#000, 40%);
    }
    .material-icons {
      font-size: 20px;
      margin-right: 6px;
    }
  }
}

